.smartsize {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.smartsize:before {
	content: "";
	display: block;
	overflow: hidden
}

.smartsize[data-offset^="no|"]:before {
	height: 0
}

.smartsize[data-offset^="yes|"]:before {
	height: 3.75em
}

.smartsize .smartsize-item {
	position: relative;
	width: 100%;
	display: table;
	table-layout: fixed;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0)
}

.smartsize .smartsize-item[data-height^="100%|"] {
	height: 100%
}

.smartsize .smartsize-item[data-height^="75%|"] {
	height: 75%
}

.smartsize .smartsize-item[data-height^="50%|"] {
	height: 50%
}

.smartsize .smartsize-item[data-height^="25%|"] {
	height: 25%
}

.smartsize .smartsize-item[data-height^="none|"] {
	height: 0
}

.smartsize .smartsize-item[data-height^="auto|"] {
	height: auto
}

.smartsize>.smartsize-item[data-ghost^="yes|"]:first-child {
	position: absolute
}

.smartsize>.smartsize-item[data-ghost^="no|"]:first-child {
	position: relative
}

.smartsize>.smartsize-item:first-child~.smartsize-item[data-ghost^="yes|"] {
	margin-top: -100vh
}

.smartsize>.smartsize-item:first-child~.smartsize-item[data-ghost^="no|"] {
	margin-top: 0
}

.smartsize .smartsize-row {
	position: relative;
	display: table-row
}

.smartsize .smartsize-cell {
	position: relative;
	display: table-cell;
	overflow: hidden
}

.smartsize .smartsize-cell[data-width^="100%|"] {
	width: 100%
}

.smartsize .smartsize-cell[data-width^="75%|"] {
	width: 75%
}

.smartsize .smartsize-cell[data-width^="50%|"] {
	width: 50%
}

.smartsize .smartsize-cell[data-width^="25%|"] {
	width: 25%
}

.smartsize .smartsize-cell[data-width^="none|"] {
	width: 0
}

.smartsize .smartsize-cell[data-width^="auto|"] {
	width: auto
}

.smartsize .smartsize-cell[data-height^="100%|"] {
	height: 100%
}

.smartsize .smartsize-cell[data-height^="75%|"] {
	height: 75%
}

.smartsize .smartsize-cell[data-height^="50%|"] {
	height: 50%
}

.smartsize .smartsize-cell[data-height^="25%|"] {
	height: 25%
}

.smartsize .smartsize-cell[data-height^="none|"] {
	height: 0
}

.smartsize .smartsize-cell[data-height^="auto|"] {
	height: auto
}

.smartsize .smartsize-cell[data-valign^="top|"] {
	vertical-align: top
}

.smartsize .smartsize-cell[data-valign^="middle|"] {
	vertical-align: middle
}

.smartsize .smartsize-cell[data-valign^="bottom|"] {
	vertical-align: bottom
}

@media screen and (min-width:640px) {
	.smartsize[data-offset*="|no|"]:before {
		height: 0
	}
	.smartsize[data-offset*="|yes|"]:before {
		height: 5em
	}
	.smartsize .smartsize-item[data-height*="|100%|"] {
		height: 100%
	}
	.smartsize .smartsize-item[data-height*="|75%|"] {
		height: 75%
	}
	.smartsize .smartsize-item[data-height*="|50%|"] {
		height: 50%
	}
	.smartsize .smartsize-item[data-height*="|25%|"] {
		height: 25%
	}
	.smartsize .smartsize-item[data-height*="|none|"] {
		height: 0
	}
	.smartsize .smartsize-item[data-height*="|auto|"] {
		height: auto
	}
	.smartsize>.smartsize-item[data-ghost*="|yes|"]:first-child {
		position: absolute
	}
	.smartsize>.smartsize-item[data-ghost*="|no|"]:first-child {
		position: relative
	}
	.smartsize>.smartsize-item:first-child~.smartsize-item[data-ghost*="|yes|"] {
		margin-top: -100vh
	}
	.smartsize>.smartsize-item:first-child~.smartsize-item[data-ghost*="|no|"] {
		margin-top: 0
	}
	.smartsize .smartsize-cell[data-width*="|100%|"] {
		width: 100%
	}
	.smartsize .smartsize-cell[data-width*="|75%|"] {
		width: 75%
	}
	.smartsize .smartsize-cell[data-width*="|50%|"] {
		width: 50%
	}
	.smartsize .smartsize-cell[data-width*="|25%|"] {
		width: 25%
	}
	.smartsize .smartsize-cell[data-width*="|none|"] {
		width: 0
	}
	.smartsize .smartsize-cell[data-width*="|auto|"] {
		width: auto
	}
	.smartsize .smartsize-cell[data-height*="|100%|"] {
		height: 100%
	}
	.smartsize .smartsize-cell[data-height*="|75%|"] {
		height: 75%
	}
	.smartsize .smartsize-cell[data-height*="|50%|"] {
		height: 50%
	}
	.smartsize .smartsize-cell[data-height*="|25%|"] {
		height: 25%
	}
	.smartsize .smartsize-cell[data-height*="|none|"] {
		height: 0
	}
	.smartsize .smartsize-cell[data-height*="|auto|"] {
		height: auto
	}
	.smartsize .smartsize-cell[data-valign*="|top|"] {
		vertical-align: top
	}
	.smartsize .smartsize-cell[data-valign*="|middle|"] {
		vertical-align: middle
	}
	.smartsize .smartsize-cell[data-valign*="|bottom|"] {
		vertical-align: bottom
	}
}

@media screen and (min-width:960px) {
	.smartsize {
		position: absolute
	}
	.smartsize[data-offset$="|no"]:before {
		height: 0
	}
	.smartsize[data-offset$="|yes"]:before {
		height: 8em
	}
	.smartsize .smartsize-item[data-height$="|100%"] {
		height: 100%
	}
	.smartsize .smartsize-item[data-height$="|75%"] {
		height: 75%
	}
	.smartsize .smartsize-item[data-height$="|50%"] {
		height: 50%
	}
	.smartsize .smartsize-item[data-height$="|25%"] {
		height: 25%
	}
	.smartsize .smartsize-item[data-height$="|none"] {
		height: 0
	}
	.smartsize .smartsize-item[data-height$="|auto"] {
		height: auto
	}
	.smartsize>.smartsize-item[data-ghost$="|yes"]:first-child {
		position: absolute
	}
	.smartsize>.smartsize-item[data-ghost$="|no"]:first-child {
		position: relative
	}
	.smartsize>.smartsize-item:first-child~.smartsize-item[data-ghost$="|yes"] {
		margin-top: -100vh
	}
	.smartsize>.smartsize-item:first-child~.smartsize-item[data-ghost$="|no"] {
		margin-top: 0
	}
	.smartsize .smartsize-cell[data-width$="|100%"] {
		width: 100%
	}
	.smartsize .smartsize-cell[data-width$="|75%"] {
		width: 75%
	}
	.smartsize .smartsize-cell[data-width$="|50%"] {
		width: 50%
	}
	.smartsize .smartsize-cell[data-width$="|25%"] {
		width: 25%
	}
	.smartsize .smartsize-cell[data-width$="|none"] {
		width: 0
	}
	.smartsize .smartsize-cell[data-width$="|auto"] {
		width: auto
	}
	.smartsize .smartsize-cell[data-height$="|100%"] {
		height: 100%
	}
	.smartsize .smartsize-cell[data-height$="|75%"] {
		height: 75%
	}
	.smartsize .smartsize-cell[data-height$="|50%"] {
		height: 50%
	}
	.smartsize .smartsize-cell[data-height$="|25%"] {
		height: 25%
	}
	.smartsize .smartsize-cell[data-height$="|none"] {
		height: 0
	}
	.smartsize .smartsize-cell[data-height$="|auto"] {
		height: auto
	}
	.smartsize .smartsize-cell[data-valign$="|top"] {
		vertical-align: top
	}
	.smartsize .smartsize-cell[data-valign$="|middle"] {
		vertical-align: middle
	}
	.smartsize .smartsize-cell[data-valign$="|bottom"] {
		vertical-align: bottom
	}
}