.icon-logo.icon-logo-1 {
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 500;
	display: block;
	font-size: 1.3125em;
	color: #666;
}

.icon-logo.icon-logo-1 svg {
	width: 90px;
}
  
#gradient::after {
	display: block;
	position: absolute;
	top: 0;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 100%);
	height: 100px;
	width: 100%;
	content: '';
}

.proj-list {
	color: #666;
	text-align: center;
}

.proj-list h4 {
	font-size: 50px;
	margin-bottom: 20px;
}

.proj-list ul li {
	color: #aaa;
	font-size: 30px;
	margin-bottom: 15px;
}

.proj-list ul li:hover {
	color: #666;
}

.state-1 .ui-17 {
	color: #1D73A0;
	width: fit-content;
	display: table;
	margin: 4em auto 0;
}

.state-1 .ui-17 h1 {
	margin-top: 20px;
	margin-bottom: 12px;
	font-size: 40px;
}

.isotope .isotope-item {
	overflow: hidden;
	width: 50%;
	float: left;
}

.isotope .isotope-item img {
	width: 100%!important;
	height: auto!important;
}

.isotope[data-layout="overview"] .isotope-item {
	padding: 0!important;
	margin: 0!important;
	width: 50%!important;
}

.isotope[data-layout="overview"] .isotope-item .isotope-image {
	margin: 0!important;
}

.panel-tag .ui-9 {
	color: #193E51;
} 

.icon-home2:before {
	content: "\e901";
  }

#menu-secondary-menu-2 li {
	display: inline-block;
	margin: 0 5px;
}

#menu-secondary-menu-2 li a img {
	width: 90%;
}

.zoom-effect {
	overflow: hidden;
}

.zoom-effect img {
	transition: all ease-in-out 1s;
}

a:hover .zoom-effect img {
	transform: scale(1.2);
}

.page-template-page-project .ui-3 h6 {
	margin: 10px 0;
	font-size: 1em!important;
}

.page-template-page-project .ui-3 li {
	font-size: .8em!important;
}

.abstract {
	padding-top: 3em;
	position: relative;
	background-color: #172133;
}

.abstract:before,
.abstract:after {
	position: absolute;
	bottom: 0;
	background: url(/images/images/abstract.png) no-repeat;
	background-size: 100% 100%;
	content: "";
	width: 40vh;
	height: 30vh;
	z-index: 99;
	opacity: .6;
}

.abstract:before {
	transform: scaleX(1);
	left: 0;
}

.abstract:after {
	right: 0;
	transform: scaleX(-1);
}

.ui-16 h6 {
	color: #666!important;
}

.ui-14 {
	margin: 0 0 5em 3em!important;
}

@media screen and (max-width: 1160px) { 
	.menu {
		padding-top: 4em!important;
	}
	.ui-14 {
		margin: 0 auto 5em!important;
	}
}


@media screen and (max-width: 960px) { 
	.abstract:before,
	.abstract:after {
		width: 20vh;
		height: 15vh;
	}
	.sticky {
		margin-top: 8em;
	}
	.column2-proj .item,
	.proj-item-proj {
		width: 100%;
	}
}


@media screen and (max-width: 768px) {

	.state-1 .ui-17 {
		white-space: inherit;
		width: 90%;
		line-height: 1;
		position: relative;
	}
	.state-1 .ui-17 h1 {
		font-size: 30px;
	}
	.ui-16 h5 {
		width: 90%;
		margin: 0 auto!important;
		white-space: unset!important;
		line-height: 1.2!important;
	}
}

  @media screen and (max-width: 500px) {
	.abstract:before,
	.abstract:after {
		content: none;
	}
	.icon-logo.icon-logo-1 {
		margin-top: .5em!important;
		width: 200px!important;
	}
	.icon-logo.icon-logo-1 svg {
		margin-top: 15px;
		width: 60px;
	}
	.icon-logo.icon-logo-1 h1 {
		font-size: 20px!important;
	}
  }

  @media screen and (max-height: 709px) {
	.sticky {
		position: absolute!important;
		top: 20%!important;
	}
  }


  @media screen and (max-height: 709px) and (max-width: 960px) {
	.sticky {
		position: relative!important;
    	top: 0!important;
	}
  }


/* .ui-18 ul li a {
	color: #193E51;
}

.ui-18 ul li a:before {
	background: #193E51!important;
} */

.menu {
	position: relative;
	z-index: 999;
}



.ui-10 ul li a {
	color: #193E51;
}


.icon-logo.icon-logo-1:before {
    display: none;
}

.path1 {
	stroke-dasharray: 1200;
	stroke-dashoffset: 1200;
	animation: dash1 3s ease-in forwards;
}

.path2 {
	stroke-dasharray: 900;
	stroke-dashoffset: 900;
	transition-delay: 1s;
	animation: dash1 3s ease-in forwards;
}

.path3 {
	stroke-dasharray: 900;
	stroke-dashoffset: 900;
	transition-delay: 1s;
	animation: dash1 3s ease-in forwards;
}

.path4 {
	stroke-dasharray: 900;
	stroke-dashoffset: 900;
	transition-delay: 1s;
	animation: dash1 3s ease-in forwards;
}

.path5 {
	opacity: 0;
	animation: dash2 3s ease-in forwards;
}


@keyframes dash1 {
	from {
		stroke-dashoffset: 1200;
	
	}
	to {
		stroke-dashoffset: 0;
	
	}
}

@keyframes dash2 {
	
	50% { opacity: 0; }
	100% { opacity: 1; }
}





.state-2 .icon-logo.icon-logo-1,
.state-3 .icon-logo.icon-logo-1,
.state-5 .icon-logo.icon-logo-1 {
	display: none
}

.icon-menu.icon-menu-1 {
	position: absolute;
	top: 0;
	left: 0;
	padding: .83928571em;
	z-index: 500;
	cursor: pointer;
	display: block;
	font-size: 1.4em;
	color: #000
}

.state-1 .icon-menu.icon-menu-1,
.state-2 .icon-menu.icon-menu-1,
.state-3 .icon-menu.icon-menu-1,
.state-5 .icon-menu.icon-menu-1 {
	display: none
}

.icon-search.icon-search-1 {
	position: absolute;
	top: 0;
	right: 17px;
	padding: .75em;
	z-index: 500;
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	color: #000
}

.state-2 .icon-search.icon-search-1,
.state-3 .icon-search.icon-search-1,
.state-5 .icon-search.icon-search-1 {
	display: none
}

.icon-close.icon-close-1 {
	position: absolute;
	top: 0;
	left: 0;
	padding: .75em;
	z-index: 500;
	cursor: pointer;
	display: none;
	font-size: 1.5em;
	color: #000
}

.state-1 .icon-close.icon-close-1 {
	display: block
}

.icon-close.icon-close-2 {
	position: absolute;
	top: 0;
	right: 0;
	padding: .75em;
	z-index: 500;
	cursor: pointer;
	display: none;
	font-size: 1.5em;
	color: #000
}

.state-2 .icon-close.icon-close-2 {
	display: block
}

.icon-close.icon-close-3 {
	position: absolute;
	top: 0;
	right: 0;
	padding: .75em;
	z-index: 500;
	cursor: pointer;
	display: none;
	font-size: 1.5em;
	color: #000
}

.state-3 .icon-close.icon-close-3 {
	display: block
}

.icon-close.icon-close-4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: .75em;
	z-index: 500;
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	color: #666
}

.loading .icon-close.icon-close-4 {
	display: none
}

.icon-close.icon-close-5 {
	position: absolute;
	top: 0;
	right: 0;
	padding: .75em;
	z-index: 500;
	cursor: pointer;
	display: none;
	font-size: 1.5em;
	color: #000
}

.state-5 .icon-close.icon-close-5 {
	display: block
}

.icon-prev.icon-prev-1 {
	padding: .625em;
	margin-top: -1.125em;
	font-size: 2em;
	color: #000
}

.icon-next.icon-next-1 {
	padding: .625em;
	margin-top: -1.125em;
	font-size: 2em;
	color: #000
}

.icon-pagination.icon-pagination-1 {
	font-size: .875em;
	color: #000
}

.icon-circle-up.icon-circle-up-1 {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: .4375em;
	z-index: 500;
	cursor: pointer;
	display: block;
	font-size: 2em;
	color: #ddd
}

@media screen and (min-width:640px) {
	.icon-logo.icon-logo-1 {
		top: 5px;
		font-size: 2em
	}
	.icon-menu.icon-menu-1 {
		padding: 1.28571429em
	}
	.icon-search.icon-search-1 {
		padding: 1.16666667em
	}
	.icon-close.icon-close-1,
	.icon-close.icon-close-2,
	.icon-close.icon-close-3,
	.icon-close.icon-close-4,
	.icon-close.icon-close-5 {
		padding: 1.16666667em
	}
	.icon-prev.icon-prev-1 {
		padding: .9375em;
		margin-top: -1.4375em
	}
	.icon-next.icon-next-1 {
		padding: .9375em;
		margin-top: -1.4375em
	}
	.icon-circle-up.icon-circle-up-1 {
		padding: .75em
	}
}